<%- include('./partials/header') %>
<div class="container-fluid">
<div class="jumbotron">
  <h1 class="display-3">Hello, Cluckers!</h1>
  <p class="lead">This will help you get your shit together. The best tool ever built on planet earth to poop on the internet.</p>
  <hr class="my-2">
  <p>Give it a try!</p>
  <%# <p class="lead">
    <a class="btn btn-primary btn-lg" href="#!" role="button">Some action</a>
  </p>%>
</div>
</div>


<div class="container-fluid">

    <div class="media">
    <div class="media-left">

    </div>

    </div>

    <div class="container-fluid">

  <section class="cluck-list row justify-content-center">


    <% for (let cluck of clucks) { %>
      <div class="col-sm-8 mt-5">
        <div class="card">
          <div class="card-body">
            <strong><%= cluck.username %> *  <%= cluck.dayCount %>  </strong>
            <p class="card-text">
              <%= cluck.content %>
            </p>
            <img class="card-img" src="<%= cluck.image_path %>">
          </div>

        </div>
      </div>
    <% } %>

  </section>
 </div>
</div>

<%- include('./partials/footer') %>
